@media screen and (max-width: 480px) {
    .slide_container {
        flex-direction: column-reverse;
        align-items: center;
        margin-left: 0 !important;
    }

    .left_news,
    .right_news {
        width: 100%;
        text-align: center;
        margin-left: 0 !important;
        font-size: small;
        margin-top: 3% !important;
    }

    .right_news img {
        width: 70% !important;
        height: auto !important;
        border-radius: 2% !important;
        margin-top: 3% !important;
        margin-left: 0 !important;
    }

    .title_news {
        font-size: small;
    }

    .leanr_more {
        margin-bottom: 3% !important;
    }
}

@media screen and (min-width: 481px) and (max-width: 769px) {
    .slide_container {
        flex-direction: column-reverse;
        align-items: center;
        margin-left: 0 !important;
    }

    .left_news,
    .right_news {
        width: 100%;
        text-align: center;
        margin: 0;
        font-size: small;
        margin-top: 3% !important;
        margin-left: 0 !important;
    }

    .right_news img {
        width: 30% !important;
        height: auto !important;
        border-radius: 2% !important;
        margin-left: 0 !important;
        margin-top: 3% !important;
    }

    .leanr_more {
        margin-bottom: 3% !important;
    }

}

.left_news {
    width: 50%;
    height: "100%";
    display: flex !important;
    flex-direction: column !important;
    align-content: flex-start !important;
    justify-content: center !important;
    color: #007ec5 !important;
    margin: top 1px;

}

.right_news {
    width: "50%";
    height: "100%";
    display: flex;
    align-content: center !important;
    align-items: center !important;
    justify-content: center !important;
    margin-left: 5vw;
    margin-right: 0px !important;
    color: #007ec5 !important;
}

.title_news {
    color: #007ec5;
    font-weight: bolder;
    font-size: 3vw !important;
}

.author {
    margin-top: 2%;
    margin-bottom: 2%;
}

.infor {
    color: #007ec5;
    font-size: 20px;
    font-weight: bold;

}

.divButton {
    display: flex;
    align-content: center !important;
    align-items: center !important;

}

.btnGetStarted {
    border-radius: 15px;
    margin-right: 20px;
}



.leanr_more {
    border-radius: 15px;
}

.leanr_more:hover {
    color: blue;
    opacity: 0.7;
    background-color: white;
}